## Altium
#History Folders
**/History/*

# Previews Folders
**/__Previews/*

# Project Logs
**/Project Logs for Subutai_Router/*
**/Project Logs for Ultrascale/*
**/Project Outputs for Ultrascale/*

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.Ldb
